In [1]:
!pip install mysql_connector_python

Requirement already satisfied: mysql_connector_python in c:\users\sudip\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\sudip\anaconda3\lib\site-packages (from mysql_connector_python) (3.19.4)

In [11]:
import mysql.connector as conn

In [12]:
mydb = conn.connect(host = "localhost", user = "root", passwd = "mysql")

In [13]:
cursor = mydb.cursor()

In [14]:
cursor.execute('show databases')

In [15]:
cursor.fetchall()

[('assim_sql',),
 ('bestman',),
 ('cardata',),
 ('cardataset',),
 ('glassdata',),
 ('icardata',),
 ('information_schema',),
 ('kumari',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('suman',),
 ('sys',),
 ('testcav',),
 ('testsud',),
 ('testsudh',),
 ('testsudhineuron',),
 ('testsus',),
 ('world',)]

In [16]:
cursor.execute('use assim_sql')

In [17]:
cursor.execute('SELECT * FROM worker_table')
cursor.fetchall()

[(1, 'Mukesh shrestha', 'Top level', 230000),
 (2, 'Sabita Malla', 'Account', 55000),
 (3, 'Binay Panjiyar', 'Account', 41000),
 (4, 'Sujan Joshi', 'Cash', 63000),
 (5, 'Ram Shah', 'Driver', 32500),
 (6, 'Hari Lama', 'Marketing', 115300),
 (7, 'Bishal Kumar', 'Top level', 215000),
 (8, 'Kavi Bhatari', 'Top level', 215000),
 (9, 'Amitabh Bhata', 'CEO', 350000)]

In [18]:
"""Assignment_4"""

'Assignment_4'

In [20]:
"""Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’."""

cursor.execute('SELECT REPLACE(First_Name, "a", "A") AS Name FROM worker_table')
cursor.fetchall()

[('Mukesh shresthA',),
 ('SAbitA MAllA',),
 ('BinAy PAnjiyAr',),
 ('SujAn Joshi',),
 ('RAm ShAh',),
 ('HAri LAmA',),
 ('BishAl KumAr',),
 ('KAvi BhAtAri',),
 ('AmitAbh BhAtA',)]

In [21]:
"""Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending."""

cursor.execute('SELECT First_Name, Department FROM worker_table ORDER BY First_Name asc, Department DESC')
cursor.fetchall()

[('Amitabh Bhata', 'CEO'),
 ('Binay Panjiyar', 'Account'),
 ('Bishal Kumar', 'Top level'),
 ('Hari Lama', 'Marketing'),
 ('Kavi Bhatari', 'Top level'),
 ('Mukesh shrestha', 'Top level'),
 ('Ram Shah', 'Driver'),
 ('Sabita Malla', 'Account'),
 ('Sujan Joshi', 'Cash')]

In [22]:
"""Q-3. Write an SQL query to fetch the names of workers who earn the highest salary."""

cursor.execute('SELECT First_Name, Salary FROM worker_table ORDER BY Salary DESC')
cursor.fetchall()

[('Amitabh Bhata', 350000),
 ('Mukesh shrestha', 230000),
 ('Bishal Kumar', 215000),
 ('Kavi Bhatari', 215000),
 ('Hari Lama', 115300),
 ('Sujan Joshi', 63000),
 ('Sabita Malla', 55000),
 ('Binay Panjiyar', 41000),
 ('Ram Shah', 32500)]