In [2]:
!pip install mysql_connector_python

Requirement already satisfied: mysql_connector_python in c:\users\sudip\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\sudip\anaconda3\lib\site-packages (from mysql_connector_python) (3.19.4)

In [3]:
import mysql.connector as conn

In [5]:
mydb = conn.connect(host = "localhost", user = "root", passwd = "mysql")

In [6]:
cursor = mydb.cursor()

In [7]:
cursor.execute('use assim_sql')

In [15]:
cursor.execute('SELECT * FROM worker_table')
cursor.fetchall()

[(1, 'Mukesh shrestha', 'Top level', 230000),
 (2, 'Sabita Malla', 'Account', 55000),
 (3, 'Binay Panjiyar', 'Account', 41000),
 (4, 'Sujan Joshi', 'Cash', 63000),
 (5, 'Ram Shah', 'Driver', 32500),
 (6, 'Hari Lama', 'Marketing', 115300),
 (7, 'Bishal Kumar', 'Top level', 215000),
 (8, 'Kavi Bhatari', 'Top level', 215000),
 (9, 'Amitabh Bhata', 'CEO', 350000),
 (10, 'Vipul Sarma', 'Marketing', 123500),
 (11, 'Satish Kumar', 'Marketing', 123500)]

In [9]:
"""Assignment_5"""

'Assignment_5'

In [13]:
cursor.execute('INSERT INTO worker_table VALUE(11, "Satish Kumar", "Marketing", 123500)')

In [14]:
mydb.commit()

In [21]:
"""Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and
“Satish” from Worker table."""

cursor.execute('SELECT * FROM (SELECT Id, SUBSTRING_Index(First_Name, " ", 1) AS Name, Department, Salary FROM worker_table) AS n WHERE Name NOT IN ("Vipul", "Satish")')
cursor.fetchall()

[(1, 'Mukesh', 'Top level', 230000),
 (2, 'Sabita', 'Account', 55000),
 (3, 'Binay', 'Account', 41000),
 (4, 'Sujan', 'Cash', 63000),
 (5, 'Ram', 'Driver', 32500),
 (6, 'Hari', 'Marketing', 115300),
 (7, 'Bishal', 'Top level', 215000),
 (8, 'Kavi', 'Top level', 215000),
 (9, 'Amitabh', 'CEO', 350000)]

In [29]:
"""Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with
‘h’ and contains six alphabets."""

cursor.execute('SELECT * FROM(SELECT Id, SUBSTRING_INDEX(First_Name, " ", 1) AS Name, Department, Salary FROM worker_table) AS n WHERE Name LIKE "%h" AND CHAR_LENGTH(Name) <=6')
cursor.fetchall()

[(1, 'Mukesh', 'Top level', 230000), (11, 'Satish', 'Marketing', 123500)]

In [ ]:
"""Q-3. Write a query to validate Email of Employee."""

cursor.execute('SELECT * FROM worker_table WHERE Email LIKE "%@gmail.com"')
cursor.fetchall()