In [1]:
!pip install mysql_connector_python

Requirement already satisfied: mysql_connector_python in c:\users\sudip\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\sudip\anaconda3\lib\site-packages (from mysql_connector_python) (3.19.4)

In [2]:
import mysql.connector as conn

In [9]:
mydb = conn.connect(host = "localhost", user = "root", passwd = "mysql")

In [10]:
cursor = mydb.cursor()

In [11]:
cursor.execute('use assim_sql')

In [12]:
cursor.execute('SELECT * FROM worker_table')
cursor.fetchall()

[(1,
  'Mukesh shrestha',
  'Top level',
  230000,
  datetime.datetime(2014, 2, 11, 0, 0)),
 (2,
  'Sabita Malla',
  'Account',
  55000,
  datetime.datetime(2011, 9, 23, 9, 34, 21)),
 (3,
  'Binay Panjiyar',
  'Account',
  41000,
  datetime.datetime(2014, 11, 27, 10, 35, 29)),
 (4, 'Sujan Joshi', 'Cash', 63000, datetime.datetime(2014, 2, 2, 10, 43, 39)),
 (5, 'Ram Shah', 'Driver', 32500, datetime.datetime(2014, 3, 5, 11, 35, 23)),
 (6,
  'Hari Lama',
  'Marketing',
  115300,
  datetime.datetime(2014, 2, 19, 10, 45, 13)),
 (7,
  'Bishal Kumar',
  'Top level',
  215000,
  datetime.datetime(2014, 3, 16, 12, 39, 10)),
 (8,
  'Kavi Bhatari',
  'Top level',
  215000,
  datetime.datetime(2016, 9, 22, 12, 39, 10)),
 (9,
  'Amitabh Bhata',
  'CEO',
  350000,
  datetime.datetime(2016, 9, 22, 11, 23, 17)),
 (10,
  'Vipul Sarma',
  'Marketing',
  123500,
  datetime.datetime(2014, 2, 24, 11, 23, 17)),
 (11,
  'Satish Kumar',
  'Marketing',
  123500,
  datetime.datetime(2013, 3, 22, 11, 23, 17))]

In [13]:
"""Assigment_7"""

'Assigment_7'

In [14]:
"""Q-13. Write an SQL query to show only odd rows from aÂ table."""

cursor.execute('SELECT Id, First_Name, Department, Salary FROM worker_table WHERE Id % 2 = 1')
cursor.fetchall()

[(1, 'Mukesh shrestha', 'Top level', 230000),
 (3, 'Binay Panjiyar', 'Account', 41000),
 (5, 'Ram Shah', 'Driver', 32500),
 (7, 'Bishal Kumar', 'Top level', 215000),
 (9, 'Amitabh Bhata', 'CEO', 350000),
 (11, 'Satish Kumar', 'Marketing', 123500)]

In [16]:
"""Q-14. Write an SQL query to clone a new table from another table."""

cursor.execute('CREATE TABLE worker1 SELECT * FROM worker_table')
cursor.fetchall()

[]

In [17]:
cursor.execute('SELECT * FROM worker1')
cursor.fetchall()

[(1,
  'Mukesh shrestha',
  'Top level',
  230000,
  datetime.datetime(2014, 2, 11, 0, 0)),
 (2,
  'Sabita Malla',
  'Account',
  55000,
  datetime.datetime(2011, 9, 23, 9, 34, 21)),
 (3,
  'Binay Panjiyar',
  'Account',
  41000,
  datetime.datetime(2014, 11, 27, 10, 35, 29)),
 (4, 'Sujan Joshi', 'Cash', 63000, datetime.datetime(2014, 2, 2, 10, 43, 39)),
 (5, 'Ram Shah', 'Driver', 32500, datetime.datetime(2014, 3, 5, 11, 35, 23)),
 (6,
  'Hari Lama',
  'Marketing',
  115300,
  datetime.datetime(2014, 2, 19, 10, 45, 13)),
 (7,
  'Bishal Kumar',
  'Top level',
  215000,
  datetime.datetime(2014, 3, 16, 12, 39, 10)),
 (8,
  'Kavi Bhatari',
  'Top level',
  215000,
  datetime.datetime(2016, 9, 22, 12, 39, 10)),
 (9,
  'Amitabh Bhata',
  'CEO',
  350000,
  datetime.datetime(2016, 9, 22, 11, 23, 17)),
 (10,
  'Vipul Sarma',
  'Marketing',
  123500,
  datetime.datetime(2014, 2, 24, 11, 23, 17)),
 (11,
  'Satish Kumar',
  'Marketing',
  123500,
  datetime.datetime(2013, 3, 22, 11, 23, 17))]