In [1]:
!pip install mysql_connector_python

Requirement already satisfied: mysql_connector_python in c:\users\sudip\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\sudip\anaconda3\lib\site-packages (from mysql_connector_python) (3.19.4)

In [27]:
import mysql.connector as conn

In [28]:
mydb = conn.connect(host = "localhost", user = "root", passwd = "mysql")

In [29]:
cursor = mydb.cursor()

In [30]:
cursor.execute('show databases')

In [31]:
cursor.fetchall()

[('assim_sql',),
 ('bestman',),
 ('cardata',),
 ('cardataset',),
 ('glassdata',),
 ('icardata',),
 ('information_schema',),
 ('kumari',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('suman',),
 ('sys',),
 ('testcav',),
 ('testsud',),
 ('testsudh',),
 ('testsudhineuron',),
 ('testsus',),
 ('world',)]

In [32]:
cursor.execute('use assim_sql')

In [33]:
cursor.execute('SELECT * FROM worker_table')
cursor.fetchall()

[(1, 'Mukesh shrestha', 'Top level', 230000),
 (2, 'Sabita Malla', 'Account', 55000),
 (3, 'Binay Panjiyar', 'Account', 41000),
 (4, 'Sujan Joshi', 'Cash', 63000),
 (5, 'Ram Shah', 'Driver', 32500),
 (6, 'Hari Lama', 'Marketing', 115300),
 (7, 'Bishal Kumar', 'Top level', 215000),
 (8, 'Kavi Bhatari', 'Top level', 215000),
 (9, 'Amitabh Bhata', 'CEO', 350000)]

In [19]:
"""Assignment_3"""

'Assignment_3'

In [20]:
"""Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side."""

cursor.execute('SELECT RTRIM(First_Name) FROM worker_table')
cursor.fetchall()

[('Mukesh shrestha',),
 ('Sabita Malla',),
 ('Binay Panjiyar',),
 ('Sujan Joshi',),
 ('Ram Shah',),
 ('Hari Lama',),
 ('Bishal Kumar',),
 ('Kavi Bhatari',),
 ('Amitabh Bhata',)]

In [26]:
"""Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length."""

cursor.execute('SELECT DISTINCT Department, CHARACTER_LENGTH(Department) AS Department_Len FROM worker_table GROUP BY Department')
cursor.fetchall()

[('Top level', 9),
 ('Account', 7),
 ('Cash', 4),
 ('Driver', 6),
 ('Marketing', 9),
 ('CEO', 3)]

In [37]:
"""Q-3. Write an SQL query to fetch nth max salaries from a table."""

cursor.execute('SELECT * FROM(SELECT First_Name, Salary, ROW_NUMBER() OVER(ORDER BY Salary DESC) AS N_MAX_Salary FROM worker_table) AS s')
cursor.fetchall()

[('Amitabh Bhata', 350000, 1),
 ('Mukesh shrestha', 230000, 2),
 ('Bishal Kumar', 215000, 3),
 ('Kavi Bhatari', 215000, 4),
 ('Hari Lama', 115300, 5),
 ('Sujan Joshi', 63000, 6),
 ('Sabita Malla', 55000, 7),
 ('Binay Panjiyar', 41000, 8),
 ('Ram Shah', 32500, 9)]

In [39]:
cursor.execute('SELECT * FROM(SELECT First_Name, Salary, ROW_NUMBER() OVER(ORDER BY Salary DESC) AS N_Max_Salary FROM worker_table) AS S WHERE N_max_Salary <=5')
cursor.fetchall()

[('Amitabh Bhata', 350000, 1),
 ('Mukesh shrestha', 230000, 2),
 ('Bishal Kumar', 215000, 3),
 ('Kavi Bhatari', 215000, 4),
 ('Hari Lama', 115300, 5)]