In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sudip\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\sudip\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [35]:
import mysql.connector as conn

In [36]:
mydb = conn.connect(host = "localhost", user = "root", passwd = "mysql")

In [37]:
cursor = mydb.cursor()

In [38]:
cursor.execute("show databases")

In [39]:
cursor.fetchall()

[('assim_sql',),
 ('bestman',),
 ('cardata',),
 ('cardataset',),
 ('glassdata',),
 ('icardata',),
 ('information_schema',),
 ('kumari',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('suman',),
 ('sys',),
 ('testcav',),
 ('testsud',),
 ('testsudh',),
 ('testsudhineuron',),
 ('testsus',),
 ('world',)]

In [11]:
cursor.execute("CREATE DATABASE assim_sql")

In [40]:
cursor.execute("USE assim_sql")

In [ ]:
cursor.execute("CREATE TABLE Worker_Table (Id INT NOT NULL UNIQUE, First_Name VARCHAR(50) NOT NULL, Department VARCHAR(50) NOT NULL UNIQUE)")

In [26]:
cursor.execute('INSERT INTO worker_Table VALUE(8, "Kavi Bhatari", "Top level" )')

In [41]:
cursor.execute('SELECT * FROM assim_sql.Worker_Table')

In [42]:
cursor.fetchall()

[(1, 'Mukesh shrestha', 'Top level'),
 (2, 'Sabita Malla', 'Account'),
 (3, 'Binay Panjiyar', 'Account'),
 (4, 'Sujan Joshi', 'Cash'),
 (5, 'Ram Shah', 'Driver'),
 (6, 'Hari Lama', 'Marketing'),
 (7, 'Bishal Kumar', 'Top level'),
 (8, 'Kavi Bhatari', 'Top level')]

In [19]:
cursor.execute('ALTER TABLE Worker_Table MODIFY COLUMN Department VARCHAR(50) NOT NULL')

In [27]:
mydb.commit()

In [30]:
"""Assigment_1"""

'Assigment_1'

In [45]:
"""Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as <WORKER_NAME> """

cursor.execute('SELECT First_Name AS WORKER_NAME FROM Worker_Table')
cursor.fetchall()

[('Mukesh shrestha',),
 ('Sabita Malla',),
 ('Binay Panjiyar',),
 ('Sujan Joshi',),
 ('Ram Shah',),
 ('Hari Lama',),
 ('Bishal Kumar',),
 ('Kavi Bhatari',)]

In [46]:
"""Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table."""

cursor.execute('SELECT DISTINCT Department FROM worker_table')
cursor.fetchall()

[('Top level',), ('Account',), ('Cash',), ('Driver',), ('Marketing',)]

In [51]:
"""Q-3. Write an SQL query to show the last 5 record from a table."""

cursor.execute('SELECT * FROM worker_table ORDER BY Id DESC LIMIT 5')
cursor.fetchall()

[(8, 'Kavi Bhatari', 'Top level'),
 (7, 'Bishal Kumar', 'Top level'),
 (6, 'Hari Lama', 'Marketing'),
 (5, 'Ram Shah', 'Driver'),
 (4, 'Sujan Joshi', 'Cash')]